@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Slab', serif;
    background-color: #000;

    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding-top: 3rem;
}

.add{
    background-color: yellowgreen;
    color :#fff;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    cursor: pointer;

    position: fixed;
    top: 1rem;
    right: 1rem;
}

.note{
    width: 300px;
    height: 300px;
    background-color: #f4f4f4;
    border-radius: 0 0 30px 0;
    margin: 30px 20px;

    overflow: hidden;
}

.note .tools{
    background-color: yellowgreen;
    padding: 0.5rem;

    display: flex;
    justify-content: flex-end;
}

.note .tools button{
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.note textarea{
    width: 100%;
    height: inherit;
    font-family: inherit;
    font-size: 1.2rem;
    border: 0;
    padding: 20px;
}

.note textarea:focus{
    outline: 0;
}

.main{
    padding: 20px;
}

.hidden{
    display: none;
}



/* topbottom space-around */
/* leftright space-between */